<%= form_for([@track, @lyric]) do |f| %>
    <div class="dropdown">
    <%= f.select :block_type, ["Hook", "Verse"]  %>
    </div>

    <div class="field">
      <%= f.text_area :content %>
    </div>

    <div class="actions" >
      <%= f.submit "Save Block" ,:class => 'button [tiny small large]' %>
    </div>
<%end%>




