<div class="row">
  <div class="small-9 columns">
    <h1> <%= @track.title %></h1>
  </div>
  <div class="small-3 columns">
    <h1 id="bpmheader"><%=@track.bpm %><span id="bpm">BPM</span></h1>

  </div>
</div>