

<br>

<%= link_to "Back to Track", track_path %>
<br>

<a href="#" id="button">Scroll Lyrics</a>

<div id="wrapper">
  <div class="complete_lyrics">
    <% @track.lyrics.each do |lyric| %>
      <div class="lyric">
        <p>


        <%= simple_format(lyric.block_type) %>
        <%= simple_format(lyric.content) %><br>

        </p>

     </div>

    <% end %>
  </div>

