

<br>

<%= link_to "Back to Track", track_path %>
</br>
<input type="hidden" id="bpm_holder" value="<%= @track.bpm %>">



<div class="row">
<div class="small-2 columns"></div>
<div class="small-10 columns">
<div id="leftside">
  <div class="song_container" id="playsong">
    <div class="song">
      <div class="text">
        <div class="complete_lyrics">
          <% @track.lyrics.each do |lyric| %>
          <div class="lyric">
            <p>
              -<%= lyric.block_type %>-
              <%= simple_format(lyric.content) %>
            </p>
          </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>




