

<br>

<%= link_to "Back to Track", track_path %>
</br>
<input type="hidden" id="bpm_holder" value="<%= @track.bpm %>">

<div id="leftside">
  <div class="song_container" id="playsong">
    <div class="song">
   <!--   <div class="bpm_calc">
        <% @track.bpm %> -->
      <div class="text">
        <div class="complete_lyrics">
          <% @track.lyrics.each do |lyric| %>
          <div class="lyric">
            <p>
              <%= simple_format(lyric.block_type) %>
              <%= simple_format(lyric.content) %>
            </p>
          </div>

          <% end %>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>





