/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */


html {
  background-color: black;
  font-family: helvetica;
  height: 100%;
  width: 100%;
  border: solid yellow;
}


h1,h2,h3 {
  font-size: 500;
  color: yellow;
  border: yellow;
}

#lyric_content {
  height: 10%;
  width: 90%;

}

#track_barindicator {
  width: 50%;
}

#track_title {
  width: 50%;
}

form {
  position: relative;
}

#save {
  position: relative;
  clear: both;
}

#actions {
  clear:both;
  position: relative;
}

/*Target iPhone's screen width*/

/*Do not set fixed widths, use %*/
    /*body{
        -webkit-text-size-adjust:none;
        font-family:Helvetica, Arial, Verdana, sans-serif;
        padding:5px;
    }
/*Set widths to 100%*/
    /*html{
        clear:both!important;
        display:block!important;
        width:100% !important;
        float:none!important;
        margin:0!important;
        padding:0!important;
    }*/
/*Create vertical navigation menu*/
   /* #nav,#nav li{
        float:none!important;
        clear:both!important;
        margin:0 0 20px 0!important;
        display:block;
        padding:0;
        text-align:left!important;
        width:100%;
    }
    #nav{
        border:1px solid #ccc;
        padding:5px;
        border-radius:5px;
    }
    #nav li{
        margin:0!important;
    }
    #nav li a{
        display:block;
    }
*/